<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6691505064466333~5827408648</string>
	<key>iOS Deployment Target</key>
	<string>16.0</string>
</dict>
</plist>
